{% extends "base.html" %}

{% load django_vite %}
{% load static %}

{% block headextra %}
  {% vite_asset "static/js/tree/index.ts" %}
{% endblock headextra %}

{% block title %}
  Family Tree
{% endblock title %}

{% block content %}
  <div id="app-container">
    <style>
      me {
        height: 100%;
        position: relative;

        .lil-gui {
          position: absolute;
          bottom: 0;
        }
      }
    </style>
  </div>

  <div id="family-tree" hx-get="/api/familytree/" hx-trigger="load" hx-swap="outerHTML"></div>

<script>
    document.addEventListener('htmx:afterRequest', function(evt) {
        const familyTree = evt.detail.xhr.response;
        console.log(familyTree);
    });
</script>

{% endblock content %}