{% extends "base.html" %}

{% block title %}
  Learn
{% endblock %}

{% block content %}
  <div class="box">
    <h1>
      Learn About Kinship and Genealogy
    </h1>
    <section class="kinship-section">
      <h2>
        What is Kinship?
      </h2>
      <p>
        Kinship refers to the relationships between individuals based on family connections. It is a fundamental concept in anthropology and sociology, helping us understand how families and societies are structured. Kinship can be biological, through blood relations, or social, through marriage, adoption, and other forms of affiliation.
      </p>
      <h3>
        Types of Kinship
      </h3>
      <ul>
        <li>
          <strong>Consanguineal:</strong> Refers to relationships based on blood ties, such as between parents and children or siblings.
        </li>
        <li>
          <strong>Affinal:</strong> Refers to relationships created through marriage, such as in-laws.
        </li>
        <li>
          <strong>Fictive:</strong> Refers to relationships that are not based on blood or marriage but are socially recognized as equivalent, such as godparents or close family friends considered "aunts" or "uncles".
        </li>
      </ul>
      <h3>
        Alternative Structures
      </h3>
      <ul>
        <li>
          <strong>Extended Families:</strong> Many societies emphasize extended family networks where multiple generations live together or in close proximity.
        </li>
        <li>
          <strong>Chosen Families:</strong> Chosen families are deliberately formed through close friendships and deep emotional bonds, often among LGBTQ+ individuals.
        </li>
        <li>
          <strong>Matrilineal and Patrilineal Systems:</strong> Some societies trace lineage and inheritance through either the maternal or paternal line exclusively.
        </li>
        <li>
          <strong>Communal Living and Co-Parenting:</strong> Examples include when multiple families or individuals share resources and child-rearing responsibilities.
        </li>
        <li>
          <strong>Polyamorous and Polygamous Relationships:</strong> Individuals may have multiple spouses or partners simultaneously.
        </li>
      </ul>
      <h3>
        Why do Genealogy?
      </h3>
      <p>
        Genealogy is a great way to learn about history!
      </p>
      <h3>
        Where can I learn more?
      </h3>
      <p>
        Books!
      </p>
    </section>
  </div>
{% endblock content %}
