{% extends "_base.html" %}

{% block title %}
    Terms and Conditions
{% endblock %}

{% block body %}
    <header>
        {% include 'navbar.html' %}
    </header>
    <main>
        <div class="box">
            <h1>Terms and Conditions</h1>
            <p>Last updated: July 7th, 2024</p>
            <section class="terms-section">
                <h2>1. Introduction</h2>
                <p>Welcome to OpenKin. These terms and conditions outline the rules and regulations for the use of OpenKin's website, located at <a href="https://www.openkin.com">https://www.openkin.com</a>.</p>
                <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use OpenKin if you do not agree to take all of the terms and conditions stated on this page.</p>
                <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands.</p>
                <p>Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
            </section>
            <section class="terms-section">
                <h2>2. License</h2>
                <p>Unless otherwise stated, OpenKin and/or its licensors own the intellectual property rights for all material on OpenKin. All intellectual property rights are reserved. You may access this from OpenKin for your own personal use subjected to restrictions set in these terms and conditions.</p>
                <p>You must not:</p>
                <ul>
                    <li>Republish material from OpenKin</li>
                    <li>Sell, rent or sub-license material from OpenKin</li>
                    <li>Reproduce, duplicate or copy material from OpenKin</li>
                    <li>Redistribute content from OpenKin</li>
                </ul>
                <p>This Agreement shall begin on the date hereof.</p>
            </section>
            <section class="terms-section">
                <h2>3. Hyperlinking to our Content</h2>
                <p>The following organizations may link to our Website without prior written approval:</p>
                <ul>
                    <li>Government agencies;</li>
                    <li>Search engines;</li>
                    <li>News organizations;</li>
                    <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
                    <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
                </ul>
                <p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.</p>
            </section>
            <section class="terms-section">
                <h2>4. Reservation of Rights</h2>
                <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>
            </section>
            <section class="terms-section">
                <h2>5. Content Liability</h2>
                <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libellous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>
            </section>
            <section class="terms-section">
                <h2>6. Removal of Links from our Website</h2>
                <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>
                <p>We do not ensure that the information on this Website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the Website remains available or that the material on the Website is kept up to date.</p>
            </section>
            <section class="terms-section">
                <h2>7. Disclaimer</h2>
                <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
                <ul>
                    <li>limit or exclude our or your liability for death or personal injury;</li>
                    <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                    <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                    <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                </ul>
            </section>
            <section class="terms-section">
                <h2>8. Governing Law & Jurisdiction</h2>
                <p>These Terms will be governed by and interpreted in accordance with the laws of the United States, and you submit to the non-exclusive jurisdiction of the state and federal courts located in the United States for the resolution of any disputes.</p>
            </section>
        </div>
    </main>
    {% include 'footer.html' %}
{% endblock body %}
