{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="TODO">
        <meta name="keywords" content="TODO">
        <meta name="referrer" content="same-origin">
        <meta name="theme-color"
              content="#282828"
              media="(prefers-color-scheme: dark)">
        <meta name="theme-color"
              content="#ffffff"
              media="(prefers-color-scheme: light)">
        <link rel="apple-touch-icon" sizes="180x180" href="TODO">
        <link rel="icon" type="image/png" sizes="32x32" href="TODO">
        <link rel="icon" type="image/png" sizes="16x16" href="TODO">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/inline-css.js' %}"></script>
        <meta name="htmx-config" content='{"scrollIntoViewOnBoost": false}'>
        {% if debug %}
            <script defer src="{% static 'js/htmx/htmx.js' %}"></script>
            <script defer src="{% static 'js/alpine.js' %}"></script>
        {% else %}
            <script defer src="{% static 'js/htmx/htmx.min.js' %}"></script>
            <script defer src="{% static 'js/alpine.min.js' %}"></script>
        {% endif %}
        <script defer src="{% static 'js/htmx/ext/preload.js' %}"></script>
        <script>
            function updateTheme() {
                if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.documentElement.classList.add('dark')
                } else {
                    document.documentElement.classList.remove('dark')
                }
            }
            window.updateTheme = updateTheme;
            updateTheme();
        </script>
        <title>

            {% block page_title %}
                {{ page_title }}
            {% endblock page_title %}

            - OpenKin
        </title>

        {% block headextra %}
        {% endblock headextra %}

    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-ext="preload">

        {% block body %}
        {% endblock body %}

        {% if debug %}
            <script>
                if (typeof window.htmx !== "undefined") {
                    htmx.on("htmx:afterSettle", function(detail) {
                        if (
                            typeof window.djdt !== "undefined" &&
                            detail.target instanceof HTMLBodyElement
                        ) {
                            djdt.show_toolbar();
                        }
                    });
                }
            </script>
        {% endif %}
    </body>
</html>
