{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="same-origin">
    <!-- TODO: SEO
        <meta name="description" content="TODO">
        <meta name="keywords" content="TODO">
        <link rel="apple-touch-icon" sizes="180x180" href="TODO">
        <link rel="icon" type="image/png" sizes="32x32" href="TODO">
        <link rel="icon" type="image/png" sizes="16x16" href="TODO">
        -->
    <meta name="htmx-config" content='{"scrollIntoViewOnBoost": false}'>
    {% if debug %}
      <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"
              integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS"
              crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.0/dist/cdn.js"></script>
    {% else %}
      <script src="https://unpkg.com/htmx.org@1.9.12"
              integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
              crossorigin="anonymous"></script>
      <script defer
              src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.0/dist/cdn.min.js"></script>
    {% endif %}
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/preload.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gnat/css-scope-inline@main/script.js"></script>
    {% vite_hmr_client %}
    {% vite_react_refresh %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>

      {% block page_title %}
        {{ page_title }}
      {% endblock page_title %}

      - OpenKin
    </title>

    {% block headextra %}
    {% endblock headextra %}

  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-ext="preload">

    {% block body %}
    {% endblock body %}

    {% if debug %}
      <!-- https://django-debug-toolbar.readthedocs.io/en/latest/installation.html#htmx -->
      <script>
          if (typeof window.htmx !== "undefined") {
              htmx.on("htmx:afterSettle", function(detail) {
                  if (
                      typeof window.djdt !== "undefined" &&
                      detail.target instanceof HTMLBodyElement
                  ) {
                      djdt.show_toolbar();
                  }
              });
          }
      </script>
    {% endif %}
  </body>
</html>
