<style>
    .navbar {
        display: flex;
        flex-direction: column;
        background-color: #099090;
        padding: 10px;
    }
</style>
<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form method="get" action="search/" class="col-12 col-lg-3 mb-lg-0">
                <input type="text"
                       name="q"
                       class="form-control rounded-pill"
                       placeholder="Search..."
                       id="id_q">
            </form>
        </div>
    </div>
</nav>
