{% load static %}

<nav>
  <ul>
    <li>
      <a href="{% url 'home' %}">
        <img height="48"
             width="48"
             src="{% static 'images/openkin-logo.png' %}"
             alt="OpenKin logo">
      </a>
    </li>
    <li>
      <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
      <a href="{% url 'about' %}">About</a>
    </li>
    <li>
      <a href="{% url 'contact' %}">Contact</a>
    </li>
    <li>
      <a href="{% url 'familytree' %}">Your Family Tree</a>
    </li>
    <div>
      <style>
        me {
          flex-grow: 1;
        }
      </style>
    </div>
    <li>
      <a href="{% url 'login' %}">Login</a>
    </li>
  </ul>
</nav>
